.vs/Multiple_File_Rename/v15/.suo
.vs/Multiple_File_Rename/v15/Server/sqlite3/db.lock
.vs/Multiple_File_Rename/v15/Server/sqlite3/storage.ide
.vs/Multiple_File_Rename/v15/Server/sqlite3/storage.ide-shm
.vs/Multiple_File_Rename/v15/Server/sqlite3/storage.ide-wal
Multiple_File_Rename/bin/Debug/CommonServiceLocator.dll
Multiple_File_Rename/bin/Debug/GalaSoft.MvvmLight.dll
Multiple_File_Rename/bin/Debug/GalaSoft.MvvmLight.Extras.dll
Multiple_File_Rename/bin/Debug/GalaSoft.MvvmLight.Extras.pdb
Multiple_File_Rename/bin/Debug/GalaSoft.MvvmLight.Extras.xml
Multiple_File_Rename/bin/Debug/GalaSoft.MvvmLight.pdb
Multiple_File_Rename/bin/Debug/GalaSoft.MvvmLight.Platform.dll
Multiple_File_Rename/bin/Debug/GalaSoft.MvvmLight.Platform.pdb
Multiple_File_Rename/bin/Debug/GalaSoft.MvvmLight.Platform.xml
Multiple_File_Rename/bin/Debug/GalaSoft.MvvmLight.xml
Multiple_File_Rename/bin/Debug/Multiple_File_Rename.exe
Multiple_File_Rename/bin/Debug/Multiple_File_Rename.exe.config
Multiple_File_Rename/bin/Debug/Multiple_File_Rename.pdb
Multiple_File_Rename/bin/Debug/System.Windows.Interactivity.dll
Multiple_File_Rename/obj/Debug/App.baml
Multiple_File_Rename/obj/Debug/App.g.cs
Multiple_File_Rename/obj/Debug/App.g.i.cs
Multiple_File_Rename/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Multiple_File_Rename/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Multiple_File_Rename/obj/Debug/GeneratedInternalTypeHelper.g.cs
Multiple_File_Rename/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
Multiple_File_Rename/obj/Debug/MainWindow.baml
Multiple_File_Rename/obj/Debug/MainWindow.g.cs
Multiple_File_Rename/obj/Debug/MainWindow.g.i.cs
Multiple_File_Rename/obj/Debug/Multiple_File_Rename.csproj.CopyComplete
Multiple_File_Rename/obj/Debug/Multiple_File_Rename.csproj.CoreCompileInputs.cache
Multiple_File_Rename/obj/Debug/Multiple_File_Rename.csproj.FileListAbsolute.txt
Multiple_File_Rename/obj/Debug/Multiple_File_Rename.csproj.GenerateResource.cache
Multiple_File_Rename/obj/Debug/Multiple_File_Rename.csprojAssemblyReference.cache
Multiple_File_Rename/obj/Debug/Multiple_File_Rename.exe
Multiple_File_Rename/obj/Debug/Multiple_File_Rename.g.resources
Multiple_File_Rename/obj/Debug/Multiple_File_Rename.pdb
Multiple_File_Rename/obj/Debug/Multiple_File_Rename.Properties.Resources.resources
Multiple_File_Rename/obj/Debug/Multiple_File_Rename_Content.g.i.cs
Multiple_File_Rename/obj/Debug/Multiple_File_Rename_MarkupCompile.cache
Multiple_File_Rename/obj/Debug/Multiple_File_Rename_MarkupCompile.i.cache
Multiple_File_Rename/obj/Debug/Multiple_File_Rename_MarkupCompile.i.lref
Multiple_File_Rename/obj/Debug/Multiple_File_Rename_MarkupCompile.lref
Multiple_File_Rename/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Multiple_File_Rename/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Multiple_File_Rename/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Multiple_File_Rename/obj/Debug/Style/MyStyle.baml
Multiple_File_Rename/obj/Debug/Style/MyStyle.g.i.cs
Multiple_File_Rename/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Multiple_File_Rename/obj/Debug/TempPE/Resources.Resource1.Designer.cs.dll
packages/CommonServiceLocator.2.0.2/.signature.p7s
packages/CommonServiceLocator.2.0.2/CommonServiceLocator.2.0.2.nupkg
packages/CommonServiceLocator.2.0.2/lib/net40/CommonServiceLocator.dll
packages/CommonServiceLocator.2.0.2/lib/net45/CommonServiceLocator.dll
packages/CommonServiceLocator.2.0.2/lib/net47/CommonServiceLocator.dll
packages/CommonServiceLocator.2.0.2/lib/netcoreapp1.0/CommonServiceLocator.dll
packages/CommonServiceLocator.2.0.2/lib/netstandard1.0/CommonServiceLocator.dll
packages/CommonServiceLocator.2.0.2/lib/netstandard2.0/CommonServiceLocator.dll
packages/MvvmLight.5.4.1.1/.signature.p7s
packages/MvvmLight.5.4.1.1/MvvmLight.5.4.1.1.nupkg
packages/MvvmLight.5.4.1.1/Content/ViewModel/MainViewModel.cs.pp
packages/MvvmLight.5.4.1.1/Content/ViewModel/ViewModelLocator.cs.pp
packages/MvvmLight.5.4.1.1/tools/install.ps1
packages/MvvmLightLibs.5.4.1.1/.signature.p7s
packages/MvvmLightLibs.5.4.1.1/MvvmLightLibs.5.4.1.1.nupkg
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.Extras.XML
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.Platform.XML
packages/MvvmLightLibs.5.4.1.1/lib/monoandroid1/GalaSoft.MvvmLight.XML
packages/MvvmLightLibs.5.4.1.1/lib/net35/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/net35/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/net35/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/net35/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/net35/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/net35/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/net35/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.4.1.1/lib/net35/System.Windows.Interactivity.xml
packages/MvvmLightLibs.5.4.1.1/lib/net40/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/net40/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/net40/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/net40/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/net40/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/net40/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/net40/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.4.1.1/lib/net40/System.Windows.Interactivity.xml
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.Platform.xml
packages/MvvmLightLibs.5.4.1.1/lib/net45/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/net45/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.4.1.1/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.Extras.XML
packages/MvvmLightLibs.5.4.1.1/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.XML
packages/MvvmLightLibs.5.4.1.1/lib/SL5/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/SL5/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/SL5/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/SL5/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/SL5/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/SL5/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/SL5/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.Platform.pri
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.Platform.xml
packages/MvvmLightLibs.5.4.1.1/lib/uap10.0/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.Platform.pri
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.Platform.xml
packages/MvvmLightLibs.5.4.1.1/lib/windows81/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.Platform.xml
packages/MvvmLightLibs.5.4.1.1/lib/wp8/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/wp8/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.Platform.xml
packages/MvvmLightLibs.5.4.1.1/lib/wp81/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.4.1.1/lib/wp81/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.Extras.XML
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.Platform.pri
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.Platform.XML
packages/MvvmLightLibs.5.4.1.1/lib/wpa81/GalaSoft.MvvmLight.XML
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.Extras.XML
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.Platform.XML
packages/MvvmLightLibs.5.4.1.1/lib/xamarin.ios10/GalaSoft.MvvmLight.XML
